*{
    padding: 0;
    margin: 0;
    box-shadow: 0;
}
body{
background-color: #1c1c1c;
}

.container{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input{
    color:white;
    margin: 20px;
    text-align: center;
    font-size: 60px;
    overflow: hidden;
    max-width: 390px;
}
button{
    border: none;
    margin:10px;
    width:80px;
    height:80px;
    cursor:pointer;
    border-radius: 50%;
    font-size: larger;
    font-weight: bold;
}

.line1{
    background-color: #d4d4d2;
}

.line{
    background-color:#505050 ;
    color: white;
}
.column4{
    background-color: #ff9500;
    color: white;
}
